.sidebar {
  display: none;
}

/*DESKTOP SCREENS*/
@media (min-width: 70rem) {
  .sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    width: 15vw;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0 0 2rem;
    padding: 1rem;
    font-weight: bold;
  }

  .sidebarItem {
    display: flex;
    gap: 1rem;
  }

  .sidebarItem a {
    color: #1f1e1e;
  }

  .sidebarItem a.active {
    color: #c947f5;
  }

  .sidebar > img {
    margin: auto;
    height: 90px;
    width: 100px;
  }

  .sidebarIcon {
    margin-right: 1rem;
  }
}
