button {
  font-weight:bold;
  margin:0 0.5rem;
}

.btn-success, .btn-success:active:focus{
  background-color: #C947F5;
  border-color:#C947F5;
  margin: 0;
}

.btn-success:hover{
  background-color: #c221f8;
}

.startBtn:disabled {
  background-color: rgb(255, 165, 132);
}

/*DESKTOP SCREENS*/

@media (min-width: 70rem) {
  .timer {
    margin: unset;
    font-size: large;
  }

  .timer button {
    margin-left: 1rem;
  }
}

/*SMALL SCREENS*/
@media (max-width: 650px) {
  .timer {
    text-align: right;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  button {
    font-size: small;
  }
}
