<div class="containerPaper">
  <div class="cardsHeader">
    <div class="flexWrapper">
      <fa-icon
        class="icon"
        [icon]="myprofileIcon"
        style="color: #c947f5"
      ></fa-icon>
      <h1>My Profile</h1>
    </div>
    <a
      routerLink="/update-user"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><fa-icon
        class="icon"
        [icon]="faUserEdit"
        style="color: #c947f5; font-size: 24px; margin-right: 1rem"
      ></fa-icon
    ></a>
  </div>

  <div class="myProfileHeadlineWrapper">
    <img src="assets/profilepic.png" class="profileImg" alt="profilepic" />
    <!--<img src="../../../../assets/images/profilepic.png" class='profileImg' alt="logo" /> -->
    <div class="myProfileHeadlineNameRoleWrapper">
      <h2>{{ user?.firstName }} {{ " " }} {{ user?.lastName }}</h2>
    </div>
  </div>

  <ul class="userInfo">
    <li>
      Name: <b>{{ user?.firstName | titlecase }}</b>
    </li>

    <li>
      Last Name: <b>{{ user?.lastName | titlecase }}</b>
    </li>

    <li>
      Gender: <b>{{ user?.gender | titlecase }}</b>
    </li>

    <li>
      E-mail: <b>{{ user?.email }}</b>
    </li>

    <li>
      Phone Number: <b>{{ user?.phoneNumber }}</b>
    </li>

    <li>
      City: <b>{{ user?.city }}</b>
    </li>

    <li>
      Country: <b>{{ user?.country }}</b>
    </li>
  </ul>

  <!-- Tab links
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Personal</a>
      <ng-template ngbNavContent>
        <app-personal></app-personal>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink>Contact</a>
      <ng-template ngbNavContent>
        <app-contact></app-contact>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink>Work</a>
      <ng-template ngbNavContent>
        <app-work></app-work>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
   -->
</div>
