button {
  border: none;
  border-radius: 5px;
  background-color: #c947f5;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

button:disabled {
  background-color: rgb(245, 158, 127);
}

form {
  margin-top: 2rem;
}

.help-block {
  color: #ff5e13;
}

.groupContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

select {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

.formStatus {
  color: #28a745;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
}

.btn-danger {
  background-color: #ff5e13;
}

.buttons {
  margin: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
