button {
  border: none;
  border-radius: 5px;
  margin: unset;
  margin-bottom: 1rem;
  background-color: #c947f5;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.fileUploadContainer {
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.alert {
  background-color: white;
  border: none;
  color: #c947f5;
}

.progress-bar {
  background-color: #c947f5 !important; /*overriding bootstrap*/
}

@media (min-width: 70rem) {
  .fileUploadContainer {
    margin: auto;
    margin-top: 2rem;
  }

  button {
    margin: 1rem;
  }
}
