.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 251, 252);
  height: 4rem;
  width: 100vw;
  padding: 1rem;
}

.title {
  color: #c947f5;
  font-size: large;
  font-weight:600;
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  color: #222222;
}

.nav-tabs .nav-link.active {
  color: #c947f5;
}

#dropdownBasic1 {
  color: #c947f5;
  border: none;
  background-color: unset;
  outline: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #c947f5;
}

/*DESKTOP SCREENS*/
@media (min-width: 70rem) {
  .title {
    font-size: larger;
    margin-left: 2rem;
  }

}
